.blue-login, .blue-register {
    background-image: url('http://www.klnews.co.kr/news/photo/201901/118631_26829_537.jpg');
    background-size: cover;
}

/*-- 'input type=file' custom style-- */
.filebox label {
	display: inline-block;
	padding: .25rem .5rem;
	color: #fff;
	font-size: .875rem;
	line-height: 1.5;
	vertical-align: middle;
	background-color: #4e73df;
	cursor: pointer;
	border: 1px solid #4e73df;
	border-radius: .25em;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	margin: 0 0 0 0;
}

.filebox label:hover {
	background-color: #2e59d9;
}

.filebox label:active {
	background-color: #367c36;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.displayFileName {
	border: 1px solid #d1d3e2;
	border-radius: 0.25rem;
	padding: 4px 8px;
	background-color: #f8f9fc;
	text-align: left;
	font-family: Nunito;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5;
}

/*-- end of 'input type=file' custom style-- */
/*--
.ui-datepicker-prev {
	background-image: url(img/arrow-alt-circle-left-solid.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
-- */

.ui-datepicker-prev span {
    background-image: url(img/arrow-alt-circle-left-solid.svg) !important;
        background-position: 0px 0px !important;
}

.ui-datepicker-next span {
    background-image: url(img/arrow-alt-circle-right-solid.svg) !important;
        background-position: 0px 0px !important;
}